.Products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 40px;
    margin-top: 32px;
}

.busca {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    margin-bottom: 72px;
}

.busca-text {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 18px;
}

.busca-input {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    padding: 4px;
    border-radius: 40px;
    border-color: #65A844;
    margin-left: 8px
}
