.display-nave {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-nav {
    display: flex;
    gap: 32px;
}

.menu-nav:hover {
    display: flex;
    gap: 32px;
    border-radius: 40px;
}

.menu-text-nav {
    color: black;
    font-family: 'Inter' !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    cursor: pointer;
    padding: 2px 12px;
    border: solid 1px gray;
    border-radius: 40px;
}

.menu-text-nav:hover {
    color: white !important;
    font-family: 'Inter' !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    cursor: pointer;
    padding: 2px 12px;
    background-color: #65A844 !important;
}