.footer-container {
    margin-top: 24px;
}

.footer {
    background-color: #65A844;
    height: 64px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.texto-footer {
    color: white;
    font-size: 16px;
    font-family: 'Inter' !important;
    font-weight: 500 !important
}